*{margin:0;padding:0;font-family:"Segoe UI";}
body{background-color:#fffff6;}
.wrapper{
	width:100%;
	margin:0 auto;
	}
.line-20{clear:both;margin-bottom:20px;}
header{
	width:100%;
	height:101px;
	clear:both;
	padding-left:30px;
	}
.title-info
{
	width:100%;
	height:80px;
	background-color:#ffffff;

}
.logo{	
	float:left;
	width:250px;
	height:80px;
}
.logo img{	
	width:100%;
	height:100%;
}
.account{
	padding-top:25px;
	padding-right:85px;
	float:right;
}
.seacrh{
	float:right;
	padding:25px;
}
	
.contact{
	float:right;
	width:200px;
	height:80px;
}
.contact-logo {
	float:left;
	height:35px;
	width:35px;
}
.contact-logo img{
	float:left;
	height:100%;
	width:100%;
	padding-top:18px;
}
.contact-title{
	opacity: 0.5;
	float:right;
	padding-top:16px;
}
.contact-number{
	opacity: 0.5;
	float:right;
	padding-right:35px;
}
.navigator{
	background-color:#c0b3ab;
}
.navigator-content a{
	text-decoration: none;
	color:#fcfbf9;
	padding:10px;
	font-weight:260%;
}
.navigator-content a:hover{color:#886b32;}

.banner{
	height:400px;
	width:100%;

}
.banner img{
	height:100%;
	width:100%;
	opacity: 0.6;
}
.main_search{
	height:190px;
	width:80%;
	margin-left:100px;
	float:left;
	background-color:#fbfbfb
}
.what{
	height:150px;
	width:300px;
	float:left;
	padding-left:30px
}
.when-title{
	
	width:70px;
	border-bottom-width:1px;
	border-bottom-style:solid;
	
}
.what-title{
	
	width:70px;
	border-bottom-width:1px;
	border-bottom-style:solid;
	
}
.when{
	height:150px;
	width:300px;
	float:right;
	padding-right:30px
}
.main_search button{
	margin-left:100px;
	margin-bottom:;
	margin-top:;
	margin-right:;
}