*{
	box-sizing:border-box;
	margin:0px;
	padding:0px;
	font-family:"Segoe UI";
}
body{background-color:#fffff6;}
.wrapper{
	max-width:1260px;
	width:1260px;
	height:auto;
	margin:0 auto;
	color:red;
	border-style:solid;
}
.line-20{clear:both;margin-bottom:20px;}
.line-10{clear:both;margin-bottom:10px;}
.head{
	width:100%;
	background-color:blue;
	height:auto;
}
.logo-contact{
	width:100%;
	height:85px;
	background-color:#433434;
}
.logo{
	width:253px;
	height:85px;
	background-color:aqua;
	margin-left:90px;
	float:left;

}
.banner{
	height:280px;
	width:100%;
	background-color:aqua;
	display:block;
}
.contact{
	height:85px;
	width:160px;
	background-color:#542312;
	float:right;
	margin-right:90px;
}
.navigator-search{
	width:100%;
	height:30px;
	background-color:#123456;

}
.content{
	width:1000px;
	height:auto;
	background-color:#433123;
	margin:0 auto;
	display:block;
	overflow:hidden;
}
.project1{
	width:100%;
	height:350px;
	background-color:#634236
}

.project2{
	width:100%;
	height:350px;
	background-color:#534236
}
.news{
	width:50%;
	height:350px;
	background-color:#123465;
	float:left;
}
.process{
	width:50%;
	height:350px;
	background-color:#342754;
	float:right;
}
.bank{
	width:100%;
	height:100px;
	background-color:#634246;
	float:left;
}
.gog-map{
	width:100%;
	height:300px;
	background-color:#42546;
	float:left;
}
.footer{
	width:100%;
	height:200px;
	background-color:red;
}