*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	font-family:"Segoe UI";
}
body{background-color:#ffffff6;}
.wrapper{
	height:auto;
	width:1280px;
	margin:0 auto;
}
.line-20{clear:both;margin-bottom:20px;}
.line-10{clear:both;margin-bottom:20px;}

.header{
	width:100%;
	height:100px;
}
.logo-contact{
	width:100%;
	height:70px;
}
.logo{
	width:30%;
	height:100%;
	float:left;
}
.slogan {
	text-align:center;
}
.slogan h1{
	font-size:25px;
	color:#219e06;
}
.navigator{
	 text-transform: uppercase;
	width:100%;
	height:30px;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.5); /*Đổ bóng cho menu*/	
}
.navigator ul{
	list-style-type:none;
	text-align:center;
	/*green*/background-color:#219e06;
}
.navigator ul li {
	display: inline-table;
	width:auto;
	max-width:220px;
	line-height:30px;
	padding: 0px 5px ;
	height:30px;
	
}
.navigator ul li a{
	text-decoration:none;
	color:#f1f1f1;
	display:block;
	font-weight:bold;
}
.navigator ul li :hover{
	color:yellow;
	
	
}
.navigator ul li > .sub-menu{
	display:none;
	
}
.navigator ul li:hover .sub-menu{
	display:block;
	
}
.side-bar{
	float:left;
	height:1000px;
	width:20%;

	
}
.client-support{
	width:100%;
	height:auto;
	

}
.sp-info{
	background-color:#ffffff;
	height:50px;
	width:100%;
	
	float:left;
}
.icon-info-bot{
	width:20%;
	height:100%;
	float:left;

}
.bot-name ,.bot-phone{
	padding-left:5px;
	height:50%;
	width:80%;
	float:right;
}
.bot-phone{
	font-weight:bold;
	color:red;
	color:#f51f43;
}
.link-area{
	background-color:#f1f1f1;
	text-align:center;
	font-size:1em;
	height:auto;
	width:100%;
}
.icon-bar{
	height:32px;
	width:100%;
	padding-top:1px;
	text-align:center;
	/*green*/background-color:#219e06;
	color:white;

}
.containter{
	height:100%;
	width:70%;
	margin: 0 auto;
	text-align:center;
	
}
.icon{
	height:100%;
	width:32px;
	float:left;
	
}
.title-bar{

	float:left;	
	height:100%;
	width:auto;
	font-weight:bold;
	font-size:0.7em;
	padding:0.7em;
	text-transform:uppercase;
}
img {height:100%;width:100%;}

.prod-list ul{
	font-size:15px;
	
	list-style-type:none;
}
.prod-list ul li{
	padding-left:10px;
	width:auto;
	height:50px;
	line-height:50px;
	border-bottom: 1px solid #e3e3e3;

}

.prod-list ul li a{
	text-decoration:none;
	display:block;
	color:#333;
}

.prod-list ul li :hover{
	color:#219e06;
	border-radius:4px;
}

.fanpage{
	width:100%;
	height:auto;
	border: 1px solid #333;
}
.fb-page iframe{
	width:100%;
	height:100%;
}
.content{
	padding-left:0px;
	float:right;
	height:1000px;
	width:80%;

}
.banner-left{
	width:65%;
	height:300px;
	float:left;
}
.banner-right{
	padding-left:20px;
	width:35%;
	height:300px;
	float:right;
}
.products{
	float:left;
	margin-top:10px;
	width:100%;

	height:auto;
}
.title-prod{	
	/*green*/background-color:#219e06;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.5); /*Đổ bóng cho menu*/	
	padding-left:10px;
	color:#f1f1f1;

}
.prod{
	height:400px;
	width:23%;
	border:1px dashed #219e06;
	float:left;
	margin:10px;
}
.prod-img{
	width:100%;
	height:70%;

}
.prod-inf{
	margin-top:20px;
	width:100%;
	height:30%;
	text-align:center;
}
.product-prices{
	color:silver;
	font-weight:thin;
	font-size:0.8;
}
.product-sale{
	color:red;
	font-weight:bold;
}
.product-button{
	background-color:#219e06;
	color:black;
	border-radius:3px;
}


